<div class="page-header">
  <h3>Sharding</h3>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to "Graphs", "#graphs", data: { toggle: "tab" } %></li>
  </ul>
  <div class="tab-content">
  <div class="tab-pane active" id="graphs">
      <p>This is where something similar to the  graphs from 10gen-labs/shard-vis will go (see <a href="http://mongodb.info/2012/09/14/new-blog-mongodb-sharding-visualizer-in-10gen-labs/">this</a>).</p>
    </div>
  </div>
</div>

