.collection-query {
  background: #4c4c4c;
  padding: 10px 10px 10px;
  color: #f5f5f5;
  margin-bottom: 20px;
  form {
    margin-bottom: 0;
  }
  border-radius: 5px;
  .params {
    font-family: monospace;
    font-size: 18px;
    margin-bottom: 8px;
    span {
      display: inline-block;
    }
    span[contenteditable] {
      display: inline-block;
      outline: none;
      border-bottom: 1px dotted white;
      min-width: 1em;
    }
  }
}