<div class="page-header">
  <h3>Monitoring</h3>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to "Graphs", "#graphs", data: { toggle: "tab" } %></li>
  </ul>
  <div class="tab-content">
	<div class="tab-pane active" id="graphs">
      <p>This is where something similar to the live mongostat graphs from the mongohq blog will go (see <a href="http://blog.mongohq.com/blog/2012/10/10/new-mongohq/">this</a>).</p>
    </div>
  </div>
</div>
