<% content_for :sidebar do %>
<%= render :partial => "shared/database_sidebar" %>
<% end %>

<div class="alert alert-error">
  <strong>Error!</strong>
  That database is not allowed to be viewed through this interface
</div>