<% content_for :sidebar do %>
<%= render :partial => "shared/collections_sidebar" %>
<% end %>

<div class="alert alert-error">
  <strong>Error!</strong>
  Documents in this collection are not allowed to be <%= can_read_collection? && !can_edit_collection? ? "edited" : "viewed" %>
</div>